                           /*--------------------------- create about page style--------------------- */

/*------------- create root */

:root {
  --DesFond: 'Saira';
  --textFont: 'Roboto'
}

/* * {
  transition: all 0.3s ease;
} */

/* end root */

/*------------- about title */

.about h1{
    position: relative;
    font-family: var(--DesFond);
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-left: 30px;
}

.about h1::after{
    content: "";
    width: 60px;
    height: 3px;
    background: var(--accent-color);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.about h1::before{
     content: "";
    width: 30px;
    height: 3px;
    background: var(--accent-color);
    border-radius: 5px;
    position: absolute;
    bottom: -8px;
    left: 0;
}

/* about title end */


/*---------- text info */

.aboutInfo{
    margin: 50px 0 0 30px;
}

.aboutInfo h3{
    font-family: var(--textFont);
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    
}

.aboutInfo span{
    font-weight: 700;
    font-family: var(--DesFond);
    color: var(--accent-color);
}

.aboutInfo p{
    margin-top: 12px;
    max-width: 1000px;
    line-height: 22px;
    color: #a2a2a2;
    font-family: var(--textFont);
    font-weight: 500;
}

/* text info end */


/* -------------my dec info style */

.skillsInfo{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.skills{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.skillsInfoMain p:hover{
    color: var(--accent-color);
    font-weight: 800;
}

.skillsInfoMain p:hover span{
    color: #fff;
    font-weight: 800;
}

.skillsInfoMain p{
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
    font-family: var(--DesFond);
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #464646;
    transition: 0.3s ease-out;
}

.skillsInfoMain span{
    margin-left: 10px;
    font-family: var(--textFont);
    font-weight: 500;
    color: #a2a2a2;
}

/* my dec info end */


/*------------- my progress style */
.skillsRepo{
    margin-top: -30px;
}

.ProgresTitle{
    display: flex;
    justify-content: space-between;
    font-family: var(--DesFond);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
}

progress{
  width: 380px;
  height: 13px;
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #626262;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, var(--accent-color), 70%, #ffffff);
  border-radius: 50px;
}

/* my progres end */

/* -------------about btns */
.skillsBtns{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

/* create slide btn style */
.cvBtn{
    width: 200px;
    height: 45px;
    margin-left: 30px;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: var(--accent-color);

    font-family: var(--textFont);
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    transition: 0.1s ease-out;
}

.cvBtn:hover{
    background: none;
    border-color: var(--accent-color);
}

.cvBtn:active{
    transform: scale(0.9);
}
/*--------- swiper */
.swiper-pagination{
    margin-right: -7px;
   
}

.swiper-pagination-bullet{
    background-color: #fff;
}

.swiper-pagination-bullet-active{
    background-color: var(--accent-color);
}

.swiper {
  margin-left: 30px;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
    margin-left: -25px;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* swiper end */

/* slide btn style end */


/*----------- menues btns start */

.menuBtns{
    display: flex;
    gap: 20px;
    margin-left: -50px;
}

.pageBtn{
    width: 110px;
    height: 45px;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: var(--accent-color);

    font-family: var(--textFont);
    font-size: 16px;
    font-weight: 700;
    color: #fff;


    transition: 0.1s ease-out;
}

.pageBtn:hover{
    background: none;
    border-color: var(--accent-color);
}

.pageBtn:active{
     transform: scale(0.9);
}

/* menues btns end */

.btnView{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-left: 2px solid var(--accent-color);
    /* border-radius: 10px; */

    font-family: var(--textFont);
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-right: 90px;
}

.btnView p:nth-child(1){
    font-size: 15px;
    font-weight: 600;
}


