:root {
  --DesFond: 'Saira';
  --textFont: 'Roboto'
}

* {
  transition: all 0.3s ease;
}


.info{
    display: flex;
    gap: 90px;
}

@media (max-width: 430px) {
    .info{
        flex-direction: column;
    }
}

.IamInfo{
    margin-top: 100px;
    margin-left: 30px;
}

@media (max-width: 430px) {
    .IamInfo{
        margin-top: 20px;
    }
}

.IamInfo span{
    height: 110%;
    padding-inline: 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #000;
    font-family: var(--DesFond);
    font-size: 25px;
    font-weight: 900;
    color: var(--accent-color);
    animation: Rgb 30s linear infinite;
}

@media (max-width: 430px) {
    .IamInfo span{
        font-size: 18px;
    }
}

@keyframes Rgb{
    0%{}
    25%{background-color: #2a2a2a; border-color: var(--accent-color);}
    50%{background-color: var(--accent-color); color: #f5f5f5; border-color: #000000;}
    75%{background-color: #f5f5f5; color: #000000; border-color: var(--accent-color);}
    100%{background-color: #000; color: var(--accent-color);}
}

.IamInfo h2{
    font-family: var(--textFont);
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 430px) {
    .IamInfo h2{
        font-size: 22px;
        font-weight: 800;
    }
}

.IamInfo p{
    font-family: var(--textFont);
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    max-width: 600px;
    color: #a2a2a2;
    margin-top: 20px;
}

@media (max-width: 430px) {
    .IamInfo p{
        max-width: 350px;
    }
}

.IamInfo button{
    width: 180px;
    height: 45px;
    margin-top: 60px;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: var(--accent-color);

    color: #fff;
    font-size: 16px;
    font-family: var(--textFont);
    font-weight: 500;
    transition: 0.1s ease-out;
}

@media (max-width: 430px) {
    .IamInfo button{
        margin-top: 50px;
       
    }
}

.IamInfo button:hover{
    background: none;
    border-color: var(--accent-color);
}

.IamInfo button:active{
    transform: scale(0.9);
}

.dis::before{
    content: "";
    width: 100px;
    height: 100px;
    background: none;
    border-left: 10px solid var(--accent-color);
    border-top: 10px solid var(--accent-color);
    position: absolute;
    top: -50px;
    left: -80px;

    animation: To 10s linear infinite;
}

@media (max-width: 430px) {
    .dis::before{
        width: 60px;
        height: 60px;
        top: -40px;
        left: -40px;
        border-left: 8px solid var(--accent-color);
        border-top: 8px solid var(--accent-color);
    }
}

@keyframes To {
    0%{transform: translate(0);}
    25%{ transform: translateY(-20px);}
    50%{transform: translate(0);}
    75%{ transform: translateY(-20px);}
    100%{transform: translate(0);}
}

@keyframes Bot {
    0%{transform: translate(0);}
    25%{ transform: translateY(30px);}
    50%{transform: translate(0);}
    75%{ transform: translateY(30px);}
    100%{transform: translate(0);}
}



.dis::after{
    content: "";
    width: 100px;
    height: 100px;
    background: none;
    border-right: 10px solid var(--accent-color);
    border-bottom: 10px solid var(--accent-color);
    position: absolute;
    bottom: -60px;
    right: -60px;

    animation: Bot 10s linear infinite;
} 


@media (max-width: 430px) {
    .dis::after{
        width: 60px;
        height: 60px;
        bottom: -40px;
        right: -40px;
        border-right: 8px solid var(--accent-color);
        border-bottom: 8px solid var(--accent-color);
    }
}


.dis{
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid var(--accent-color);

    animation: dis 6s linear infinite;
}


@media (max-width: 430px) {
    .dis{
        width: 70%;
        margin-inline: auto;
        margin-top: 30px;
    }
}

@keyframes dis {
    0%{transform: translate(0);}
    25%{ transform: translateY(10px);}
    50%{transform: translate(0);}
    75%{ transform: translateY(10px);}
    100%{transform: translate(0);}
}

.compare-container {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.compare-container > div {
  height: 100% !important;
}

.compare-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}


