                   /* -------------------------------- create components------------------------------------- */


/*------------- create root */

:root {
  --DesFond: 'Saira';
  --textFont: 'Roboto';

  --fff: #fff;
  --000: #000;
  --444: #444;
  --666: #666;
  --46: #464646;
  --c1: #c1c1c1;
}

/* root end */

* {
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
  height: 90%;
}

::-webkit-scrollbar-track {
  background: var(--444);
 
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

/* ---------------------create wrapa */

.wrap{
    display: flex;
}

@media (max-width: 430px) {
  .wrap {
    flex-direction: column;
  }
}

/* content */

.content{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    overflow: auto;
    order: 2;
}

@media (max-width: 430px) {
    .content{
        order: 1;
    }
    ::-webkit-scrollbar {
        display: none;
}
}

/* content end */


/* ------------------create menubar */

.menuBar{
    width: 350px;
    height: 100vh;
    background-color: #1f1f1f;
    border-right: 3px solid var(--46);
    order: 1;
}

@media (max-width: 430px) {
    .menuBar{
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: auto;
        order: 2;
        z-index: 100;
    }
}


/* menubar logo start */

.change{
    display: flex;
    justify-content: end;
}

@media (max-width: 430px) {
    .change{
        justify-content: space-between;
    }
}

.changeLogo{
    display: none;
    margin-top: 30px;
    margin-left: 40px;
}

@media (max-width: 430px) {
    .changeLogo{
        display: block;
        margin-top: -45px;
    }
}

.menuBarLogo{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

@media (max-width: 430px) {
    .menuBar .menuBarLogo{
        display: none;
        margin: 0;
       
    }
}

.menuBarLogo div{
    position: relative;
    font-family: var(--DesFond);
    color: var(--fff);
    font-size: 30px;
    font-weight: 800;
}

.menuBarLogo div span{
    font-size: 32px;
    font-weight: 900;
    color: var(--accent-color);
}

.menuBarLogo div::before{
    content: "";
    width: 15px;
    height: 15px;
    background: none;
    border-right: 5px solid var(--accent-color);
    border-top: 5px solid var(--accent-color);
    position: absolute;
    top: -5px;
    right: -22px;
}

.menuBarLogo div::after{
    content: "";
    width: 15px;
    height: 15px;
    background: none;
    border-bottom: 5px solid var(--accent-color);
    border-left: 5px solid var(--accent-color);
    position: absolute;
    bottom: -2px;
    left: -15px;
}

/* menubar logo end */


/* navbar */

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 15px; 
}

@media (max-width: 430px) {
    .navbar{
        margin: 0;
        padding-block: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.navbar p{
    font-family: var(--textFont);
    color: var(--fff);
    font-weight: 900;
    transition: 0.5s;
}

@media (max-width: 430px) {
    .navbar p{
        font-size: 15px;
    }
}

.link{
    width: 120px;
    display: flex;
    text-decoration: none;
    gap: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--46);
    transition: 0.3s ease-out;
}

@media (max-width: 430px) {
    .link{
        width: 80px;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 0;
    }
}

.link:hover{
    transform: translateX(20px);
}

@media (max-width: 430px) {
    .link:hover{
        transform: none;
    }
}

.link.active{
     transform: translateX(50px);
}

@media (max-width: 430px) {
    .link.active{
        transform: none;
    }
}

.link.active p,
.link.active svg {
  color: var(--accent-color);
  
}

.link svg{
    transition: 0.5s;
    background: none;
    color: var(--fff);
}

/* navbar end */

/* menubar end */


/* create fon component style */

.colors{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 10px 10px 0 0;
}

.sun{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #2a2a2a;
    box-shadow: 3px 3px 3px var(--666);
    border: none;
    border-radius: 100px;
    transition: 0.2s;
}

.sun:hover{
    background-color: var(--444);
}

.sun:active{
    box-shadow: none;
}

.setting:hover{
    background-color: var(--444);
}

.setting:active{
   box-shadow: none;
}

.setting{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #2a2a2a;
    box-shadow: 3px 3px 3px var(--666);
    border: none;
    border-radius: 100px;
    transition: 0.2s;
}

/* fon component end */

/* create contacts component style */

.socials{
    display: flex;
    gap: 10px;
    margin: 60px 0px 0px 40px;
}

@media (max-width: 430px) {
    .socials{
        padding-block: 50px 100px;
    }
}

.socialsUrl{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #3c3c3c;
    box-shadow: 3px 3px 3px var(--666);
    border-radius: 15px;

    transition: 0.2s ease-out;
}

.socialsUrl:hover{
    transform: translateY(-15px);
}

.socialsUrl:active{
    box-shadow: none;
}

.colorss{
    width: 270px;
    height: 110px;
    background: #282828;
    border: 3px solid var(--46);
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 100;

    transition: 0.5s ease-out;
    animation: colors 0.5s ease-out;
}

.colorss p{
    margin: 15px;
    font-family: var(--textFont);
    font-size: 17px;
    font-weight: 800;
    color: var(--fff);
}

.changeColor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.changeColor button{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    transition: 0.2s ease-out;
}

.changeColor button:hover{
    border: 2px solid var(--fff);
    transform: scale(1.2);
}

.changeColor button:active{
    border: none;
    transform: scale(1);
}

.closeBtn{
    background-color: rgb(215, 17, 17);
    font-size: 18px;
    font-weight: 700;
    color: var(--fff);

    transition: 0.2s ease-out;
}

.closeBtn:hover{
    border: 1px solid var(--fff);
    color: var(--fff);
    background: none;
}

.redBtn{ background-color: red; }
.orangeBtn{ background-color: rgb(255, 72, 0); }
.greenBtn{ background-color: #00ffd0; }
.blueBtn{ background-color: rgb(0, 157, 255); }
.pinkBtn{ background-color: rgb(241, 160, 255); }

@keyframes colors {
    0%{transform: translateX(500px);}
    100%{transform: translate(0);}
}

/* contacts component end */


                   /* <------------------------- light mode ------------------------> */

/*--------------- light mode Menubar */

.wrap.light .menuBar{ background-color: #eef8ff; border-right-color: var(--c1); }
.wrap.light .link.active svg{ color: var(--accent-color); }
.wrap.light .link.active p{ color: var(--accent-color); }
.wrap.light .link{ border-bottom: 2px solid var(--c1); }
.wrap.light .link svg{ color: var(--000); }
.wrap.light address{ color: var(--000); }
.wrap.light .link p{ color: var(--000); }

/* light mode menubar edn */


/*--------------- light mode content */

.wrap.light .content p{ color: var(--666); }
.wrap.light .content h1{ color: var(--000); }
.wrap.light .content h2{ color: var(--000); }
.wrap.light .content h3{ color: var(--000); }
.wrap.light .content h5{ color: var(--000); }
.wrap.light .content{ background-color: #e9efff; }
.wrap.light .content button:hover { color: var(--000); }
.wrap.light .content input:focus{ background-color: var(--fff);}
.wrap.light .content::-webkit-scrollbar-track {background-color: #999;}
.wrap.light .content input{ background-color: #eef8ff; border-color: var(--c1); color: var(--000);}
.wrap.light .content textarea{  background-color: #eef8ff; border-color: var(--c1); color: var(--000); } 

/* light mode content end */


/*-------------- light mode aboutPage */

.wrap.light .content .about .btnView p { color: var(--000); }
.wrap.light .content .about  .skillsInfo p{ color: var(--000); }
.wrap.light .content .about .skillsInfo span{ color: var(--666); }
.wrap.light .content .about .ProgresTitle span { color: var(--000); }
.wrap.light .content .about .skillsInfo p:hover span{ color: var(--000); }
.wrap.light .content .about .skillsInfo p:hover{ color: var(--accent-color); }
.wrap.light .content .about .skillsInfoMain p { border-bottom-color: var(--c1);}
.wrap.light .content .about .swiper-pagination-bullet { background-color: var(--000);}
.wrap.light .content .about .skillsRepo progress::-webkit-progress-bar { background-color: var(--c1);}
.wrap.light .content .about .swiper-pagination-bullet-active { background-color: var(--accent-color);}

/* light mode AboutPage end */


/*-------------- light mode PortfolioPage */

.wrap.light .content .portfolio .projectImg { border-color: var(--c1);}
.wrap.light .content .portfolio .projectImg:hover { border: 3px solid var(--accent-color);}

/* light mode PortfolioPage end */


/*-------------- light mode ContactPage */

.wrap.light .content .contactPage h3 {color: var(--accent-color);}
.wrap.light .content .contactPage .platform:hover {box-shadow: 4px 4px 4px 4px #888;}
.wrap.light .content .contactPage .platform:active {box-shadow: 1px 1px 1px 1px var(--666);}

/* light mode ContactPage end */


/*-------------- light mode Fon component */

.wrap.light .content .colors button { background-color: #777; box-shadow: 3px 3px 3px #222;}
.wrap.light .content .colors button:active { background-color: #777; box-shadow: none;}
.wrap.light .content .colors button:hover { background-color: #999; }

/* light mode Fon component end */


/*------------------ light mode Contacts component */

.wrap.light .content .socialsUrl { background-color: var(--fff); box-shadow: 2px 2px 2px #222;}
.wrap.light .content .socialsUrl:active{ box-shadow: none; }

/* light mode contacts component end */

/*------------------ light mode colors component */

.wrap.light .content .colorss{ background: var(--fff); border-color: var(--c1);}
.wrap.light .content .changeColor button{border-color: #333;}
.wrap.light .content .colorss p{ color: var(--000);}

/* light mode colors component end */

/* wrap end */
