                   /* -------------------------------- create components------------------------------------- */

/*------------- create root */

:root {
  --DesFond: 'Saira';
  --textFont: 'Roboto'
}

/* root end */

/* ---------------------create wrapa */

.wrap{
    display: flex;
}

.components{
    display: flex;
}

/* content */

.content{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    overflow: auto;
}

/* content end */


/* ------------------create menubar */

.menuBar{
    width: 350px;
    height: 100vh;
    background-color: #1f1f1f;
    border-right: 3px solid #464646;
}

/* menubr logo start */

.menuBarLogo{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.menuBarLogo div{
    position: relative;
    font-family: var(--DesFond);
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.menuBarLogo div span{
    font-size: 32px;
    font-weight: 900;
    color: rgb(255, 72, 0);
}

.menuBarLogo div::before{
    content: "";
    width: 15px;
    height: 15px;
    background: none;
    border-right: 5px solid rgb(255, 72, 0);
    border-top: 5px solid rgb(255, 72, 0);
    position: absolute;
    top: -5px;
    right: -22px;
}

.menuBarLogo div::after{
    content: "";
    width: 15px;
    height: 15px;
    background: none;
    border-bottom: 5px solid rgb(255, 72, 0);
    border-left: 5px solid rgb(255, 72, 0);
    position: absolute;
    bottom: -2px;
    left: -15px;
}

/* menubar logo end */


/* navbar */

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 15px;
    
}

.navbar p{
    font-family: var(--textFont);
    font-weight: 900;
    color: #fff;
    transition: 0.5s;
}

.link{
    width: 120px;
    display: flex;
    text-decoration: none;
    gap: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #464646;
    transition: 0.3s ease-out;
}

.link:hover{
    transform: translateX(20px);
}

.link.active{
     transform: translateX(50px);
}

.link.active p,
.link.active svg {
  color: rgb(255, 72, 0);
  
}

.link svg{
    transition: 0.5s;
    background: none;
    color: #fff;
}

/* navbar end */

/* menubar end */


/* create fon component style */

.colors{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 10px 10px 0 0;
}

.sun{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #2a2a2a;
    box-shadow: 3px 3px 3px #666;
    border: none;
    border-radius: 100px;
    transition: 0.2s;
}

.sun:hover{
    background-color: #444;
}

.sun:active{
    box-shadow: none;
}

.setting:hover{
    background-color: #444;
}

.setting:active{
   box-shadow: none;
}

.setting{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #2a2a2a;
    box-shadow: 3px 3px 3px #666;
    border: none;
    border-radius: 100px;
    transition: 0.2s;
}

/* fon component end */

/* create contacts component style */

.socials{
    display: flex;
    gap: 10px;
    margin: 60px 0px 0px 40px;
}

.socialsUrl{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #3c3c3c;
    box-shadow: 3px 3px 3px #666;
    border-radius: 15px;

    transition: 0.2s ease-out;
}

.socialsUrl:hover{
    transform: translateY(-15px);
}

.socialsUrl:active{
    box-shadow: none;
}

/* contacts component end */


                   /* <------------------------- light mode ------------------------> */

/*--------------- light mode Menubar */

.wrap.light .menuBar{ background-color: #eef8ff; border-right-color: #c1c1c1; }
.wrap.light address{ color: #000; }
.wrap.light .link{ border-bottom: 2px solid #c1c1c1; }
.wrap.light .link.active p{ color: rgb(255, 72, 0); }
.wrap.light .link p{ color: #000; }
.wrap.light .link.active svg{ color: rgb(255, 72, 0); }
.wrap.light .link svg{ color: #000; }

/* light mode menubar edn */


/*--------------- light mode content */

.wrap.light .content{ background-color: #e9efff; }
.wrap.light .content h1{ color: #000; }
.wrap.light .content h2{ color: #000; }
.wrap.light .content h3{ color: #000; }
.wrap.light .content h5{ color: #000; }
.wrap.light .content p{ color: #666; }
.wrap.light .content input{ background-color: #eef8ff; border-color: #c1c1c1; color: #000;}
.wrap.light .content input:focus{ background-color: #fff;}
.wrap.light .content button:hover { color: #000; }

/* light mode content end */


/*-------------- light mode aboutPage */

.wrap.light .content .about  .skillsInfo p{ color: #000; }
.wrap.light .content .about .skillsInfo p:hover{ color: rgb(255, 72, 0); }
.wrap.light .content .about .skillsInfo p:hover span{ color: #000; }
.wrap.light .content .about .skillsInfo span{ color: #666; }
.wrap.light .content .about .skillsInfoMain p { border-bottom-color: #c1c1c1;}
.wrap.light .content .about .btnView p { color: #000; }
.wrap.light .content .about .swiper-pagination-bullet { background-color: #000;}
.wrap.light .content .about .swiper-pagination-bullet-active { background-color: rgb(255, 72, 0);}
.wrap.light .content .about .ProgresTitle span { color: #000; }
.wrap.light .content .about .skillsRepo progress::-webkit-progress-bar { background-color: #c1c1c1;}

/* light mode AboutPage end */


/*-------------- light mode PortfolioPage */

.wrap.light .content .portfolio .projectImg { border-color: #c1c1c1;}
.wrap.light .content .portfolio .projectImg:hover { border: 3px solid rgb(255, 72, 0);}

/* light mode PortfolioPage end */


/*-------------- light mode ContactPage */

.wrap.light .content .contactPage h3 {color: rgb(255, 72, 0);}
.wrap.light .content .contactPage .platform:hover {box-shadow: 4px 4px 4px 4px #888;}
.wrap.light .content .contactPage .platform:active {box-shadow: 1px 1px 1px 1px #666;}

/* light mode ContactPage end */


/*-------------- light mode Fon component */

.wrap.light .content .colors button { background-color: #777; box-shadow: 3px 3px 3px #222;}
.wrap.light .content .colors button:hover { background-color: #999; }
.wrap.light .content .colors button:active { background-color: #777; box-shadow: none;}

/* light mode Fon component end */


/*------------------ light mode Contacts component */

.wrap.light .content .socialsUrl { background-color: #ffffff; box-shadow: 2px 2px 2px #222;}
.wrap.light .content .socialsUrl:active{ box-shadow: none; }

/* light mode contacts component end */

/* wrap end */
